* {
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    transition: background-color .3s ease-out;
}

window#waybar {
    background: transparent;
    color: #d8dee9;
    font-family: 
        SpaceMono Nerd Font,
        feather;
}

.modules-left,
.modules-center,
.modules-right
{
    background: #2e3440;
    margin: 5px 10px;
    border-radius: 15px;
}
.modules-left {
    padding: 0;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#custom-kbd_backlight,
#network,
#pulseaudio,
#power-profiles-daemon {
    padding: 0 10px;
    border-radius: 15px;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#custom-kbd_backlight:hover,
#network:hover,
#pulseaudio:hover,
#power-profiles-daemon:hover {
    background: #4c566a;
    color: #cdd6f4;
}


#workspaces button {
  background: transparent;
  font-family:
    SpaceMono Nerd Font,
    feather;
  font-weight: 900;
  font-size: 13pt;
  color: #d8dee9;
  border:none;
  border-radius: 15px;
}

#workspaces button.active {
    background: #434c5e;
    color: #88c0d0;
}

#workspaces button:hover {
  background: #4c566a;
  color: #cdd6f4;
  box-shadow: none;
}
